<div class="container mt-3">

  <br>

  <div class="row p-2">
    <div class="col-9">
      <h3>Assignment Generator</h3>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-secondary float-end" (click)="home()">Home</button>
    </div>
  </div>

  <div *ngIf="!isActive" class="row col-2 m-2">
    <button (click)="newGenerator()" type="submit" class="btn btn-primary">Create New</button>
  </div>

  <div *ngIf="isActive">
    <div class="row col-2 m-2">
      <button *ngIf="isActive" (click)="removeGenerator()" type="submit" class="btn btn-outline-danger">Delete Generator</button>
    </div>
    <br>
    <div class="row p-2">
      <div class="col-2">
        <table class="table">
          <thead>
          <tr>
            <td>
              <mat-checkbox [checked]="areAllSelected(this.isHumanSelected)" (change)="switchAll('human', $event)" color="primary">
                <b>Humans</b>
              </mat-checkbox>
            </td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let human of humans">
            <td>
              <mat-checkbox [checked]="isHumanSelected.get(human) == true" (change)="switchHuman(human)" color="primary">
                {{human}}
                <i *ngIf="this.active.includes(human)" style="color: limegreen" class="fa fa-circle"></i>
                <i *ngIf="!this.active.includes(human)" style="color: red" class="fa fa-circle"></i>
              </mat-checkbox>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-2">
        <table class="table">
          <thead>
          <tr>
            <td>
              <mat-checkbox [checked]="areAllSelected(this.isBotSelected)" (change)="switchAll('bot', $event)" color="primary">
                <b>Bots</b>
              </mat-checkbox>
            </td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let bot of bots">
            <td>
              <mat-checkbox [checked]="isBotSelected.get(bot) == true" (change)="switchBot(bot)" color="primary">
                {{bot}}
                <i *ngIf="this.active.includes(bot)" style="color: limegreen" class="fa fa-circle"></i>
                <i *ngIf="!this.active.includes(bot)" style="color: red" class="fa fa-circle"></i>
              </mat-checkbox>
            </td>
          </tr>
          </tbody>
        </table>
        <br>
        <table class="table">
          <thead>
          <tr>
            <td>
              <mat-checkbox [checked]="areAllSelected(this.isAdminSelected)" (change)="switchAll('admin', $event)" color="primary">
                <b>Admins as Bots</b>
              </mat-checkbox>
            </td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let admin of admins">
            <td>
              <mat-checkbox [checked]="isAdminSelected.get(admin) == true" (change)="switchAdmin(admin)" color="primary">
                {{admin}}
                <i *ngIf="this.active.includes(admin)" style="color: limegreen" class="fa fa-circle"></i>
                <i *ngIf="!this.active.includes(admin)" style="color: red" class="fa fa-circle"></i>
              </mat-checkbox>
            </td>
          </tr>
          </tbody>
        </table>
        <br>
        <table class="table">
          <thead>
          <tr>
            <td>
              <mat-checkbox [checked]="evaluatorSelected == true" (change)="switchEvaluator()" color="primary">
                <b>EvaluatorBot</b>
              </mat-checkbox>
            </td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let evaluator of evaluator; let firstElement = first">
            <td *ngIf="firstElement" >
              <mat-checkbox [checked]="evaluatorSelected == true" (change)="switchEvaluator()" color="primary">
                {{evaluator}}
                <i *ngIf="this.active.includes(evaluator)" style="color: limegreen" class="fa fa-circle"></i>
                <i *ngIf="!this.active.includes(evaluator)" style="color: red" class="fa fa-circle"></i>
              </mat-checkbox>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-6">
        <h4>Prompts</h4>
        <table class="table">
          <tbody>
          <tr *ngFor="let prompt of prompts, let i = index" class="d-flex">
            <td class="col-11">{{prompt}}</td>
            <td class="col-1"><i class="fa fa-trash" type="submit" (click)="removePrompt(i)"></i></td>
          </tr>
          </tbody>
        </table>

        <textarea
          style="height: 70px"
          type="text" class="form-control" placeholder="Add prompt(s):
One per line..."
          [formControl]="promptForm">
        </textarea>
        <button (click)="addPrompts()" type="submit" class="btn btn btn-outline-primary">Add</button>
      </div>

      <div class="col-2">
        <h4>Bots Per User</h4>
        <mat-slider min="1" max="6" step="1" [value]="botsPerUser" (input)="setBotsPerUser($event)"></mat-slider>
        {{botsPerUser}}
        <br>
        <h4>Duration</h4>
        <mat-slider min="1" max="20" step="1" [value]="duration" (input)="setDuration($event)"></mat-slider>
        {{duration}}
      </div>
    </div>


    <div class="row p-2 justify-content-end">
      <div>
        <button (click)="generateNextRound()" [disabled]="!canStartRound()" type="button" class="btn btn-primary float-end">
          <div>Generate Round {{round}}</div>
        </button>
      </div>
    </div>

    <br>

    <div *ngIf="nextAssignment.length > 0">
      <h4>Next Round
        <i *ngIf="notOptimalAssignment" class="fa fa-warning" matTooltip="Not optimal. Try again or change settings."></i>
      </h4>
      <table class="table">
        <thead>
        <tr>
          <td class="col-2">Human</td>
          <td class="col-2">Bot</td>
          <td class="col-8">Prompt</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let assignment of nextAssignment">
          <td class="col-2">{{assignment.human}}</td>
          <td class="col-2">{{assignment.bot}}</td>
          <td class="col-7">{{assignment.prompt}}</td>
          <td class="col-1">
            <i *ngIf="!active.includes(assignment.human) || !active.includes(assignment.bot)" class="col-6 fa fa-warning" matTooltip="At least one user offline. Round cannot be created."></i>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="row p-2 justify-content-end">
        <div class="col-3">
          <button (click)="startNextRound()" [disabled]="remainingTime > 0 || changeAfterGenerate || !generated" type="button" class="btn btn-primary float-end">
            <div>Start Round {{round}}</div>
          </button>
        </div>
      </div>
    </div>

    <br>

    <div *ngIf="chatroomDetails.size > 0">
      <h4>Active Round</h4>
      <table class="table">
        <thead>
        <tr class="d-flex">
          <td class="col-2">Human</td>
          <td class="col-2">Bot</td>
          <td class="col-5">Prompt</td>
          <td class="col-3">Remaining Time</td>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of getChatrooms(true)" class="d-flex">
            <td class="col-2">{{room.userInfo[0].username}}</td>
            <td class="col-2">{{room.userInfo[1].username}}</td>
            <td class="col-5">{{room.prompt}}</td>
            <td class="col-2">{{remainingTime | date: 'mm:ss'}}</td>
            <td class="col-1"><button type="button" class="btn btn-outline-secondary" (click)="watch(room)">Watch</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="chatroomDetails.size > 0">
      <h4>Past Rounds</h4>
      <table class="table">
        <thead>
        <tr class="d-flex">
          <td class="col-2">Human</td>
          <td class="col-2">Bot</td>
          <td class="col-8">Prompt</td>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let room of getChatrooms(false)" class="d-flex">
            <td class="col-2">{{room.userInfo[0].username}}</td>
            <td class="col-2">{{room.userInfo[1].username}}</td>
            <td class="col-7">{{room.prompt}}</td>
            <td class="col-1"><button type="button" class="btn btn-outline-secondary" (click)="watch(room)">Watch</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
