<div class="card chat-app">
  <div class="chat">

    <div class="row p-2">
      <div class="chat-header text-center">
        <h5>
          Ratings for {{paneLog.otherAlias}}
          <span (click)="close()" class="label label-default" style="color: black; cursor: pointer; float: right"><i class="fa fa-chevron-circle-left"></i></span>
        </h5>
      </div>
    </div>

    <div class="chat-history text-wrap" style="overflow: scroll; height: 540px; overflow-x:hidden;">
      <div *ngFor="let request of ratingForm">
        <form>
          <div class="text-center">
            <h6>{{request.id}}. {{request.name}}</h6>

            <div *ngIf="request.options.length > 0">
              <div class="form-check form-check-inline" *ngFor="let option of request.options">

                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" value="{{option.value.toString()}}" [(ngModel)]="paneLog.ratings[request.id]">
                  {{option.name}}
                </label>
              </div>
            </div>

            <div *ngIf="request.options.length === 0">
              <div class="input-group">
                <textarea class="form-control"
                          placeholder="..."
                          name="item.name"
                          maxlength="2100"
                          [ngClass]="{'is-invalid': (paneLog.ratings[request.id] || '').length > 2000}"
                          [(ngModel)]="paneLog.ratings[request.id]">
                </textarea>
              </div>
              <div class="text-end mt-1">
                <small [ngClass]="{'text-danger': (paneLog.ratings[request.id] || '').length > 2000, 'text-muted': (paneLog.ratings[request.id] || '').length <= 2000}">
                  {{(paneLog.ratings[request.id] || '').length}}/2000
                  <span *ngIf="(paneLog.ratings[request.id] || '').length > 2000" class="ms-1">
                    <i class="fa fa-exclamation-circle"></i> Response too long
                  </span>
                </small>
              </div>
            </div>
          </div>
        </form>
        <hr>
      </div>
    </div>
    <div class="chat-message clearfix">
      <div class="{{paneLog.assignment ? 'input-group-append text-center' : 'd-flex justify-content-between' }}">
          <button (click)="submit()" [disabled]="!canSubmit()" class="btn btn-outline-primary" type="button">
            Submit and Close {{paneLog.assignment ? "(required)" : ""}}
          </button>
          <button *ngIf="!paneLog.assignment" (click)="closeWithoutRating()" class="btn btn-outline-warning" type="button">Close without Rating</button>
      </div>
    </div>
  </div>
</div>

