<div class="card chat-app">
  <div class="chat">

    <div class="row p-2">
      <div class="chat-header text-center">
        <h5>
          Ratings for {{paneLog.otherAlias}}
          <span (click)="close()" class="label label-default" style="color: black; cursor: pointer; float: right"><i class="fa fa-chevron-circle-left"></i></span>
        </h5>
      </div>
    </div>

    <div class="chat-history text-wrap" style="overflow: scroll; height: 540px; overflow-x:hidden;">
      <div *ngFor="let request of ratingForm">
        <form>
          <div class="text-center">
            <h6>{{request.id}}. {{request.name}}</h6>

            <div *ngIf="request.options.length > 0">
              <div class="form-check form-check-inline" *ngFor="let option of request.options">

                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" value="{{option.value.toString()}}" [(ngModel)]="paneLog.ratings[request.id]">
                  {{option.name}}
                </label>
              </div>
            </div>

            <div *ngIf="request.options.length === 0">
              <input type="text" class="form-control" placeholder="..." name="item.name" maxlength="1000" [(ngModel)]="paneLog.ratings[request.id]">
            </div>
          </div>
        </form>
        <hr>
      </div>
    </div>
    <div class="chat-message clearfix">
      <div class="d-flex justify-content-between">
          <button (click)="submit()" [disabled]="!canSubmit()" class="btn btn-outline-primary text-start" type="button">Submit and Close</button>
          <button (click)="closeWithoutRating()" class="btn btn-outline-warning text-end" type="button">Close without Rating</button>
      </div>
    </div>
  </div>
</div>

