<div class="container mt-3">

  <br>

  <div class="row p-2">
    <div class="col-9">
      <h3>Evaluation Feedback Overview</h3>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-secondary float-end" (click)="home()">Home</button>
    </div>
  </div>

  <div class="row p-2 justify-content-between">
    <div class="col-6">
      <h5>Filter <span [style.color]="authorPerspective ? '#5F9EA0' : '#9370DB'">[{{authorPerspective ? "Authors" : "Recipients"}}]</span>
        and <span [style.color]="chooseAssignments ? '#4682B4' : '#008080'">[{{chooseAssignments ? "Assignments by TAs" : "Requests by Students"}}]</span>
      </h5>
      <div class="row">
        <div class="col-4" *ngFor="let username of usernames">
          <mat-checkbox [checked]="isSelected(username) == true" (change)="switch(username)" color="primary">
            <span>{{username}}</span>
          </mat-checkbox>
        </div>
      </div>
      <button type="button" class="btn btn-secondary float-end m-1" (click)="applyFilter()">Apply</button>
      <button type="button" class="btn btn-outline-secondary float-end m-1" (click)="resetSelected()">Reset</button>
    </div>
    <div class="col-2">
      <mat-button-toggle-group class="border-0 float-end" (change)="toggleDirection($event.value)">
        <mat-button-toggle checked value="author"><b>Author</b></mat-button-toggle>
        <mat-button-toggle value="recipient"><b>Recipient</b></mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="col-2">
      <mat-button-toggle-group class="border-0 float-end" (change)="toggleAssignments($event.value)">
        <mat-button-toggle checked value="assigned"><b>Assignments</b></mat-button-toggle>
        <mat-button-toggle value="requested"><b>Requests</b></mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>


  <div class="row mt-5 mb-5">
    <div class="col-4" id="chart" *ngFor="let chartOptions of allChartOptions">
      <apx-chart
        [series]="chartOptions.series"
        [legend]="chartOptions.legend"
        [colors]="chartOptions.colors"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [yaxis]="chartOptions.yaxis"
        [xaxis]="chartOptions.xaxis"
        [title]="chartOptions.title"
      ></apx-chart>
    </div>
  </div>

  <div class="row">
    <h3>Detailed Evaluation Feedback</h3>
  </div>

  <span>Average Evaluation per User. Click to expand</span>

  <div class="row p-2">
    <table class="table small">
      <thead>
      <tr *ngIf="this.ratingForm">
        <th class="px-0">{{authorPerspective ? "Author" : "Recipient"}}</th>
        <th class="px-0" *ngFor="let question of this.ratingForm.slice(0, -1)">{{question.shortname}}</th>
      </tr>
      </thead>
      <tbody *ngFor="let entry of getAverageFeedback(); let i = index">
      <tr class="align-middle" role="button" (click)="toggleElement = toggleElement == i ? -1 : i">
        <td class="px-0">{{entry.username}}</td>
        <td class="px-0" *ngFor="let response of entry.responses.slice(0, -1)">{{idToText(response)}}</td>
      </tr>
      <tr *ngIf="toggleElement == i">
        <td [colSpan]="entry.responses.length">
          <table class="table table-sm small">
            <thead>
            <tr class="table-secondary">
              <th>{{authorPerspective ? "Recipient" : "Author"}}</th>
              <th *ngFor="let question of this.ratingForm">{{question.shortname}}</th>
            </tr>
            </thead>
            <tbody *ngFor="let userFeedback of getFeedbacks(entry.username)">
            <tr class="table-secondary">
              <td class="p-2">{{this.authorPerspective ? userFeedback.recipient : userFeedback.author}}</td>
              <td class="p-2" *ngFor="let response of userFeedback.responses.slice(0, -1)">{{idToText(response)}}</td>
              <td *ngFor="let impression of userFeedback.responses.slice(-1)">
                <p class="fa fa-book btn col-1" (click)="openImpression(readImpression, impression)"><i>&nbsp;Read</i></p>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #readImpression let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Impression</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body" style="white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word">
    <p>{{this.impressionToRead}}</p>
  </div>
</ng-template>
