<div class="container mt-3">

  <br>

  <div class="row p-2">
    <div class="col-9">
      <h3>Feedbacks</h3>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-secondary float-end" (click)="home()">Home</button>
    </div>
  </div>


  <div class="d-flex flex-row p-2 border ">
    <div class="h5 w-auto mx-4 my-auto">
      From :
    </div>
    <div>
    <mat-form-field class="my-auto">
      <mat-label> Feedback Form</mat-label>
      <mat-select (selectionChange)="toggleFormName($event.value)" [(value)]="selectedFormName">
        <mat-option *ngFor="let formName of formNameOptions" [value]="formName">
          {{ formName }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </div>
    <div class="h5 align-middle my-auto mx-4">
      show
    </div>
    <div class="col-2 my-auto border rounded w-auto">
      <mat-button-toggle-group class="border-0 float-end " (change)="toggleDirection($event.value)">
        <mat-button-toggle checked value="author">
          <b style='color: #5F9EA0'>[Author]</b>
        </mat-button-toggle>
        <mat-button-toggle value="recipient"><b style="color: #9370DB">[Recipient]</b></mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="h5 mx-4 my-auto">
      in
    </div>
    <div class="col-2 my-auto border rounded w-auto">
      <mat-button-toggle-group class="border-0 float-end" (change)="toggleAssignments($event.value)">
        <mat-button-toggle checked value="assigned"><b style="color: #4682B4">[Assignments]</b></mat-button-toggle>
        <mat-button-toggle value="requested"><b style="color: #008080">[Requests]</b></mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>

  <app-feedback-stats-table [ratingRequests]="this.ratingRequests"
                            [authorPerspective]="authorPerspective"
                            [nonOptionQuestionIds]="nonOptionQuestionIds"
                            [averageFeedback]="averageFeedback"
                            [userFeedback]="userFeedback"
                            [statsOfAllRequests]="statsOfAllRequest"
                            (onRowSelected)="switch($event)"
                            [selectedUsernames]="selectedUsernames"
                            [openImpression]="openImpression"
                            [readImpression]="readImpression">
  </app-feedback-stats-table>

  <div class="mb-5">
    <button type="button" class="btn btn-primary float-end m-1" (click)="applyFilter()"
            [disabled]="this.selectedUsernames.length == 0">Plot selected
    </button>
    <button type="button" class="btn btn-outline-secondary float-end m-1" (click)="resetSelected()">Reset</button>
  </div>


  <div class="row mt-5 mb-5 h-100">
    <div class="col-4" id="chart" *ngFor="let chartOptions of allChartOptions">
      <apx-chart
        [series]="chartOptions.series"
        [legend]="chartOptions.legend"
        [colors]="chartOptions.colors"
        [chart]="chartOptions.chart"
        [dataLabels]="chartOptions.dataLabels"
        [plotOptions]="chartOptions.plotOptions"
        [yaxis]="chartOptions.yaxis"
        [xaxis]="chartOptions.xaxis"
        [title]="chartOptions.title"
      ></apx-chart>
    </div>
  </div>


  <ng-template #readImpression let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Impression</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body"
         style="white-space: pre-wrap; white-space: -moz-pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word">
      <p>{{ this.impressionToRead }}</p>
    </div>
  </ng-template>
