<div class="card chat-app">
  <div class="chat">

    <div class="row p-2">
      <div class="chat-header text-center">
        <h5>
          Ratings for {{paneLog.otherAlias}}
        </h5>
      </div>
    </div>
    <div *ngIf="paneLog.markAsNoFeedback; then hasNoFeedback else hasFeedback"></div>
    <ng-template #hasNoFeedback>
      <div class="p-5">
        <h6 class="text-secondary">
          You closed this chat room (which was requested by yourself) without rating,
          <br>
          so there is no assessment history.
        </h6>
      </div>
    </ng-template>

    <ng-template #hasFeedback class="chat-history text-wrap" style="overflow: scroll; height: 540px; overflow-x:hidden;">
      <table class="table">
        <thead>
        <tr>
          <th>Statement</th>
          <th>Your Answer</th>
        </tr>
        </thead>
        <tbody *ngFor="let request of ratingForm">
        <tr *ngIf="request.options.length > 0">
          <td><b>{{request.shortname}}</b></td>
          <td>
            <div *ngFor="let option of request.options">
              <div *ngIf="option.value.toString() == paneLog.ratings[request.id]">
                {{option.name}}
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="request.options.length == 0">
          <td colspan="2"><b>Impression: </b>{{paneLog.ratings[request.id]}}</td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </div>
</div>

