<div class="container mt-3">

  <br>
  <div class="row p-2">
    <div class="col-9">
      <h3>Password Change</h3>
    </div>
    <div class="col-3">
      <button type="button" class="btn btn-secondary float-end" (click)="home()">Home</button>
    </div>
  </div>

  <div class="row p-5 justify-content-center">
    <div class="col-12 col-md-9 col-lg-6">

      <form class="container text-center" [formGroup]="passwordForm">
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Current Password" id="currentPassword" name="currentPassword" formControlName="currentPassword">
        </div>

        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="New Password" id="newPassword" name="newPassword" formControlName="newPassword">
        </div>

        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Confirm the New Password" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword">
        </div>

        <button (click)="changePassword()" type="submit" class="btn btn-primary" style="width:50%;">Reset</button>
      </form>

    </div>
  </div>

</div>
