
<div class="container-fluid h-100 d-flex flex-column">
  <h3 class="mt-3">Chats</h3>
  <!-- Main content area for chat logs -->
  <div class="overflow-x-auto d-flex my-0"
       style="flex-wrap: nowrap; gap:10px; min-width: 100%; max-width: 100%;">
    <div *ngIf="paneLogs.length === 0" class="d-flex justify-content-center align-items-center w-100">
      <div class="text-center">
        <h4>No Chats Yet!</h4>
        <p>Looks like you haven't started any chats. Why not begin a conversation?</p>
      </div>
    </div>
    <div *ngFor="let paneLog of paneLogs" id="chat{{paneLog.roomID}}" style="min-width: 380px; max-width: 380px;">
      <app-chat-pane
        (removeRoom)="removeRoom(paneLog.roomID)"
        [numQueries]="numQueries"
        [paneLog]="paneLog"
        id="chat{{paneLog.roomID}}">
      </app-chat-pane>
    </div>
  </div>


  <!-- Global broadcast message field -->
  <div class="" style="margin-top: auto; padding: 10px; background: #f8f9fa; border-top: 1px solid #ccc;">
    <div class="d-flex overflow-auto mb-2" style="gap: 10px;">
      <button *ngFor="let paneLog of paneLogs, let i = index"
              (click)="scrollTo(paneLog.roomID); selectedRoomID = paneLog.roomID"
              [ngClass]="{'bg-secondary text-white': selectedRoomID === paneLog.roomID}"
              class="btn btn-light"
              [ngStyle]="{'text-decoration': paneLog.active ? 'none' : 'line-through'}"
      >
        {{paneLog.otherAlias}}
      </button>

      <ng-template #popoverContent>
        <div class="input-group">
          <input (keyup.enter)="requestChatRoom()" type="text" class="form-control" placeholder="Request chat with..." maxlength="100" [formControl]="uname">
          <div class="input-group-append">
            <button (click)="requestChatRoom()" class="btn btn-outline-success" type="button">Request</button>
          </div>
        </div>
      </ng-template>
      <span
        type="button"
        [ngbPopover]="popoverContent"
        [autoClose]="'outside'"
        popoverTitle=""
        placement="top"
        class="btn btn-primary"
      >
        <i class="fa fa-plus"></i>
      </span>
    </div>
    <div class="input-group">
      <input
        [readonly]="paneLogs.length === 0"
        type="text" class="form-control"
             placeholder="Broadcast message to all chatrooms"
            (keyup.enter)="askALl()"
            [formControl]="queryAll"
      >
      <div class="input-group-append">
        <button class="btn btn-primary" type="button"
                [disabled]="paneLogs.length === 0"
        (click)="askALl()">Send</button>
      </div>
    </div>
  </div>
</div>

<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Unclosed or Unassessed Chatrooms</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      1. You will not be able to see any unclosed chatrooms in the history.
      <br>
      <br>
      2. You will not be able to see any unassessed chatrooms in the history if assessment is required to be submitted.
      <br>
      <br>
      Do you want to continue?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close(); home()">Confirm</button>
  </div>
</ng-template>
