<div class="container mt-3">

  <br>
  <div class="row p-2">
    <div class="col-12 col-lg-3">
      <h3>Available Chat Rooms of the Current Session</h3>
    </div>
    <div class="col-10 col-lg-7">
      <div class="btn-group" role="group">
        <span *ngFor="let paneLog of paneLogs, let i = index, let n = count">
          <button (click)="scrollTo('chat' + paneLog.roomID)" type="button" class="btn btn-outline-primary" style="margin-right: 5px">Chat-{{n - i}}</button>
          <button (click)="scrollTo('rating' + paneLog.roomID)" type="button" class="btn btn-outline-success" style="margin-right: 10px" *ngIf="paneLog.ratingOpen">
            Rating-{{n - i}}</button>
        </span>
      </div>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-secondary float-end" (click)="openModal(modalData)">Home</button>
    </div>
  </div>

  <div class="row p-2" style="overflow: scroll">
    <div class="row-fluid">
    <div *ngFor="let paneLog of paneLogs" style="display: inline">
      <div class="col-12 col-md-12 col-lg-6 col-xl-4 p-2" style="margin-right: 5px">
        <app-chat-pane (removeRoom)="removeRoom(paneLog.roomID)"
                       [numQueries]="numQueries" [paneLog]="paneLog" id="chat{{paneLog.roomID}}"></app-chat-pane>
      </div>
      <div class="col-12 col-md-12 col-lg-6 col-xl-4 p-2" *ngIf="paneLog.ratingOpen" style="margin-right: 10px">
        <app-rating-pane (removeRoom)="removeRoom(paneLog.roomID)" [paneLog]="paneLog" id="rating{{paneLog.roomID}}"></app-rating-pane>
      </div>
    </div>
    </div>
  </div>

  <div class="row p-2" style="margin-top: 10px">
    <div class="col-12 col-md-7 p-2" *ngIf="paneLogs.length > 1">
      <div class="input-group">
        <input (keyup.enter)="askALl()" type="text" class="form-control" placeholder="Send questions to all chat rooms..." maxlength="1000" [formControl]="queryAll">
        <div class="input-group-append">
          <button (click)="askALl()" class="btn btn-outline-primary" type="button">Send</button>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-5 p-2">
      <div class="input-group">
        <input (keyup.enter)="requestChatRoom()" type="text" class="form-control" placeholder="request chat with ..." maxlength="100" [formControl]="uname">
        <div class="input-group-append">
          <button (click)="requestChatRoom()" class="btn btn-outline-success" type="button">Request</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Unclosed or Unassessed Chatrooms</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    <p>
      1. You will not be able to see any unclosed chatrooms in the history.
      <br>
      <br>
      2. You will not be able to see any unassessed chatrooms in the history if assessment is required to be submitted.
      <br>
      <br>
      Do you want to continue?
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="modal.close(); home()">Confirm</button>
  </div>
</ng-template>
