<div class="card chat-app" *ngIf="!(paneLog.testingSession || paneLog.assistantEvaluation)">
  <div class="chat">

    <div class="row text-center mx-auto p-0 bg-info text-white" style="position: absolute; top: -1.2em; width: 100%; word-break: break-all"
         *ngIf="paneLog.assignment ">
      <small> Assigned by TAs {{paneLog.formRef === '' ? '' : '(assessment required)'}} </small>
    </div>

    <div class="row p-2">
      <div class="chat-header text-center" style="white-space: break-spaces">
        <h5>Chat with {{paneLog.otherAlias}} <span *ngIf="paneLog.active && remainingTime" style="color: darkred">({{remainingTime}})</span></h5>
        <p><span *ngIf="paneLog.prompt" style="background-color: lightgrey; padding: 2%">{{paneLog.prompt}}</span></p>
      </div>
    </div>

    <div class="chat-history" style="overflow-y: scroll; height: 500px" #scroll>

      <ul class="m-b-0" *ngFor="let x of range(paneLog.ordinals); let ordinal = index">

        <li class="clearfix text-start" *ngIf="!paneLog.messageLog[ordinal].myMessage && paneLog.messageLog[ordinal]">
          <div class="message-data">
            <span class="message-data-time">{{paneLog.messageLog[ordinal].time | date:'HH:mm:ss dd-MM-yyyy'}}</span>
          </div>
          <div class="message other-message" style="max-width: 100%; white-space: normal"> <span [innerHTML]="paneLog.messageLog[ordinal].message | chatCommands"> </span>

            <div *ngIf="!paneLog.spectate">
              <span
                (click)="react('THUMBS_UP', paneLog.messageLog[ordinal].ordinal)"
                class="label label-default" style="padding-left: 10px"
                [ngStyle]="{'cursor': paneLog.active ? 'pointer' : 'auto', 'color': paneLog.messageLog[ordinal].type == 'THUMBS_UP' ? '#3597E6' : 'gray'}"
              >
                <i class="fa fa-thumbs-up"></i>
              </span>
              <span
                (click)="react('THUMBS_DOWN', paneLog.messageLog[ordinal].ordinal)"
                class="label label-default" style="padding-left: 10px"
                [ngStyle]="{'cursor': paneLog.active ? 'pointer' : 'auto', 'color': paneLog.messageLog[ordinal].type == 'THUMBS_DOWN' ? '#E64D3D' : 'gray'}"
              >
                <i class="fa fa-thumbs-down"></i>
              </span>
              <span
                (click)="react('STAR', paneLog.messageLog[ordinal].ordinal)"
                class="label label-default" style="padding-left: 10px"
                [ngStyle]="{'cursor': paneLog.active ? 'pointer' : 'auto', 'color': paneLog.messageLog[ordinal].type == 'STAR' ? 'gold' : 'gray'}"
              >
                <i class="fa fa-star"></i>
              </span>
            </div>

          </div>
        </li>

        <li class="clearfix text-end" *ngIf="paneLog.messageLog[ordinal].myMessage && paneLog.messageLog[ordinal]">
          <div class="message-data">
            <span class="message-data-time">{{paneLog.messageLog[ordinal].time | date:'HH:mm:ss dd-MM-yyyy'}}</span>
          </div>
          <div class="message my-message" style="max-width: 100%; white-space: normal"><span [innerHTML]="paneLog.messageLog[ordinal].message | chatCommands"> </span></div>
        </li>
      </ul>
    </div>

    <div *ngIf="!paneLog.spectate && !paneLog.history">
      <div class="chat-message clearfix">
        <div class="input-group">
          <input (keyup.enter)="poseQuery()" type="text" class="form-control" placeholder="ask a question..." maxlength="1000" [readonly]="!paneLog.active" [formControl]="query">
          <div class="input-group-append">
            <button (click)="poseQuery()" class="btn btn-outline-primary" type="button" [disabled]="!paneLog.active">Send</button>
          </div>
          <div class="input-group-append">
            <ng-container *ngIf="paneLog.formRef === ''; then directlyClose; else assess"></ng-container>
            <ng-template #directlyClose>
              <button (click)="close();closeRoom()" class="btn btn-outline-success"  data-bs-toggle="button" type="button" style="margin-left: 10px">
                Close <i class="fa fa-chevron-circle}}"></i>
              </button>
            </ng-template>
            <ng-template #assess>
              <button (click)="rating()" class="btn btn-outline-success"  data-bs-toggle="button" type="button" style="margin-left: 10px">
                Assess <i class="fa fa-chevron-circle-{{paneLog.ratingOpen ? 'left' : 'right'}}"></i>
              </button>
            </ng-template>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>


<div class="card chat-app"  *ngIf="paneLog.testingSession">
  <div class="chat">
    <div class="row p-2">
      <div class="chat-header text-center" style="white-space: break-spaces">
        <h5>Chat with {{paneLog.otherAlias}}<span *ngIf="paneLog.active && remainingTime" style="color: darkred"></span></h5>
        <p><span *ngIf="paneLog.prompt" style="background-color: lightgrey; padding: 2%">{{paneLog.prompt}}</span></p>
      </div>
    </div>

    <div class="chat-history" style="overflow-y: scroll; height: 500px" #scroll>

      <ul class="m-b-0" *ngFor="let x of range(paneLog.ordinals); let ordinal = index">

        <li class="clearfix text-start" *ngIf="!paneLog.messageLog[ordinal].myMessage
        && paneLog.messageLog[ordinal].recipients.includes(paneLog.myAlias)">
          <div class="message-data">
            <span class="message-data-time">{{paneLog.messageLog[ordinal].time | date:'HH:mm:ss'}}</span>
            <span class="message-data-time"> - {{paneLog.messageLog[ordinal].authorAlias}}</span>
          </div>
          <div class="message other-message" *ngIf="paneLog.messageLog[ordinal].authorAlias == paneLog.testerBotAlias"
               style="max-width: 100%; white-space: normal"> <span [innerHTML]="paneLog.messageLog[ordinal].message | chatCommands"> </span>
          </div>
          <div class="message evaluated-message" *ngIf="paneLog.messageLog[ordinal].authorAlias != paneLog.testerBotAlias"
               style="max-width: 100%; white-space: normal"> <span [innerHTML]="paneLog.messageLog[ordinal].message | chatCommands"> </span>
          </div>
        </li>

        <li class="clearfix text-end" *ngIf="paneLog.messageLog[ordinal].myMessage
        && paneLog.messageLog[ordinal].recipients.includes(paneLog.myAlias)">
          <div class="message-data">
            <span class="message-data-time">{{paneLog.messageLog[ordinal].time | date:'HH:mm:ss'}}</span>
            <span class="message-data-time"> - You </span>
          </div>
          <div class="message my-message" style="max-width: 100%; white-space: normal"><span [innerHTML]="paneLog.messageLog[ordinal].message | chatCommands"> </span></div>
        </li>
      </ul>
    </div>

    <div *ngIf="!paneLog.spectate && !paneLog.history">
      <div class="chat-message clearfix">
        <div class="input-group">
          <input (keyup.enter)="poseQuery()" type="text" class="form-control" placeholder="ask a question..." maxlength="1000" [readonly]="!paneLog.active" [formControl]="query">
          <div class="input-group-append">
            <button (click)="poseQuery()" class="btn btn-outline-primary" type="button" [disabled]="!paneLog.active">Send</button>
          </div>
          <div class="input-group-append">
            <ng-container *ngIf="paneLog.formRef === ''; then directlyClose; else assess"></ng-container>
            <ng-template #directlyClose>
              <button (click)="close();closeRoom()" class="btn btn-outline-success"  data-bs-toggle="button" type="button" style="margin-left: 10px">
                Close <i class="fa fa-chevron-circle}}"></i>
              </button>
            </ng-template>
            <ng-template #assess>
              <button (click)="rating()" class="btn btn-outline-success"  data-bs-toggle="button" type="button" style="margin-left: 10px">
                Assess <i class="fa fa-chevron-circle-{{paneLog.ratingOpen ? 'left' : 'right'}}"></i>
              </button>
            </ng-template>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<div class="card chat-app"  *ngIf="paneLog.assistantEvaluation">
  <div class="chat">
    <div class="row p-2">
      <div class="chat-header text-center" style="white-space: break-spaces">
        <h5>Chat with {{paneLog.otherAlias}}<span *ngIf="paneLog.active && remainingTime" style="color: darkred"></span></h5>
        <p><span *ngIf="paneLog.prompt" style="background-color: lightgrey; padding: 2%">{{paneLog.prompt}}</span></p>
      </div>
    </div>

    <div class="chat-history" style="overflow-y: scroll; height: 500px" #scroll>

      <ul class="m-b-0" *ngFor="let x of range(paneLog.ordinals); let ordinal = index">

        <li class="clearfix text-start" *ngIf="!paneLog.messageLog[ordinal].myMessage
        && paneLog.messageLog[ordinal].recipients.includes(paneLog.myAlias)">
          <div class="message-data">
            <span class="message-data-time">{{paneLog.messageLog[ordinal].time | date:'HH:mm:ss'}}</span>
            <span class="message-data-time"> - {{paneLog.messageLog[ordinal].authorAlias}}</span>
          </div>
          <div class="message other-message" *ngIf="paneLog.messageLog[ordinal].authorAlias == paneLog.testerBotAlias"
               style="max-width: 100%; white-space: normal"> <span [innerHTML]="paneLog.messageLog[ordinal].message | chatCommands"> </span>
          </div>
          <div class="message evaluated-message" *ngIf="paneLog.messageLog[ordinal].authorAlias != paneLog.testerBotAlias"
               style="max-width: 100%; white-space: normal"> <span [innerHTML]="paneLog.messageLog[ordinal].message | chatCommands"> </span>
            <div *ngIf="!paneLog.spectate">
              <span
                (click)="react('THUMBS_UP', paneLog.messageLog[ordinal].ordinal)"
                class="label label-default" style="padding-left: 10px"
                [ngStyle]="{'cursor': paneLog.active ? 'pointer' : 'auto', 'color': paneLog.messageLog[ordinal].type == 'THUMBS_UP' ? '#3597E6' : 'gray'}"
              >
                <i class="fa fa-thumbs-up"></i>
              </span>
              <span
                (click)="react('THUMBS_DOWN', paneLog.messageLog[ordinal].ordinal)"
                class="label label-default" style="padding-left: 10px"
                [ngStyle]="{'cursor': paneLog.active ? 'pointer' : 'auto', 'color': paneLog.messageLog[ordinal].type == 'THUMBS_DOWN' ? '#E64D3D' : 'gray'}"
              >
                <i class="fa fa-thumbs-down"></i>
              </span>
              <span
                (click)="react('STAR', paneLog.messageLog[ordinal].ordinal)"
                class="label label-default" style="padding-left: 10px"
                [ngStyle]="{'cursor': paneLog.active ? 'pointer' : 'auto', 'color': paneLog.messageLog[ordinal].type == 'STAR' ? 'gold' : 'gray'}"
              >
                <i class="fa fa-star"></i>
              </span>
            </div>
          </div>
        </li>

        <li class="clearfix text-end" *ngIf="paneLog.messageLog[ordinal].myMessage
        && paneLog.messageLog[ordinal].recipients.includes(paneLog.myAlias)">
          <div class="message-data">
            <span class="message-data-time">{{paneLog.messageLog[ordinal].time | date:'HH:mm:ss'}}</span>
            <span class="message-data-time"> - You </span>
          </div>
          <div class="message my-message" style="max-width: 100%; white-space: normal"><span [innerHTML]="paneLog.messageLog[ordinal].message | chatCommands"> </span></div>
        </li>
      </ul>
    </div>

    <div *ngIf="!paneLog.spectate && !paneLog.history">
      <div class="chat-message clearfix">
        <div class="input-group">
          <input (keyup.enter)="poseQuery()" type="text" class="form-control" placeholder="ask a question..." maxlength="1000" [readonly]="!paneLog.active" [formControl]="query">
          <div class="input-group-append">
            <button (click)="poseQuery()" class="btn btn-outline-primary" type="button" [disabled]="!paneLog.active">Send</button>
          </div>
          <div class="input-group-append">
            <ng-container *ngIf="paneLog.formRef === ''; then directlyClose; else assess"></ng-container>
            <ng-template #directlyClose>
              <button (click)="close();closeRoom()" class="btn btn-outline-success"  data-bs-toggle="button" type="button" style="margin-left: 10px">
                Close <i class="fa fa-chevron-circle}}"></i>
              </button>
            </ng-template>
            <ng-template #assess>
              <button (click)="rating()" class="btn btn-outline-success"  data-bs-toggle="button" type="button" style="margin-left: 10px">
                Assess <i class="fa fa-chevron-circle-{{paneLog.ratingOpen ? 'left' : 'right'}}"></i>
              </button>
            </ng-template>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
